<div class="row">
    <div class="col-md-8">
        <h3>Post List</h3>
        <div>
            <a href="" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData | async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td><a class="btn btn-primary" [routerLink]="['edit', post.id]">Update</a> &nbsp;
                    <a class="btn btn-danger" (click)="onDeletePost(post.id)">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <!-- <table class="table table-striped" *ngIf="postsData | async as x">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of x">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                </tr>
            </tbody>
        </table> -->
    </div>

    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>